body {
    font-family: 'Assistant', sans-serif;
}
.header-text {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

.kalimat-text {
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
}
.main-header-text {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 40px;
}